export PATH=~/.cargo/bin:~/.local/bin:$PATH
export RIPGREP_CONFIG_PATH=~/.config/ripgreprc
export PYTHONSTARTUP=~/.config/pythonrc

export TERMINAL={{ .terminal.bin }}
export EDITOR=nvim
export LESS='-SRij8 --tabs=4'

export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/ssh-agent.socket"
