# i3 config file (v4)
#
# Please see https://i3wm.org/docs/userguide.html for a complete reference!

# Windows key as main mod key
set $mod Mod4
set $terminal {{ .terminal.bin }}
set $term-exec {{ .terminal.exec }}

# This font is widely installed, provides lots of unicode glyphs, right-to-left
# text rendering and scalability on retina/hidpi displays (thanks to pango).
font pango:DejaVu Sans Mono 8

# Set desktop background
exec --no-startup-id ~/.config/i3/fehbg

# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# screen before suspend. Use loginctl lock-session to lock your screen.
exec --no-startup-id xss-lock --transfer-sleep-lock -- i3lock --nofork -ueft -c 586e75
bindsym $mod+Mod1+l exec i3lock -c 586e75 --no-fork -euft

# NetworkManager is the most popular way to manage wireless networks on Linux,
# and nm-applet is a desktop environment-independent system tray GUI for it.
exec --no-startup-id nm-applet

set $refresh_i3status killall -SIGUSR1 i3status
{{ if .pamixer }}
# Use pamixer to adjust volume in PulseAudio.
bindsym XF86AudioRaiseVolume exec --no-startup-id pamixer -i 2 && $refresh_i3status
bindsym XF86AudioLowerVolume exec --no-startup-id pamixer -d 2 && $refresh_i3status
bindsym XF86AudioMute exec --no-startup-id pamixer -t && $refresh_i3status
bindsym XF86AudioMicMute exec --no-startup-id pamixer --default-source -t && $refresh_i3status
{{ else }}
# Use pactl to adjust volume in PulseAudio.
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status
{{ end }}
# Control music
bindsym XF86AudioPlay exec --no-startup-id playerctl play-pause
bindsym XF86AudioNext exec --no-startup-id playerctl next
bindsym XF86AudioPrev exec --no-startup-id playerctl prev
{{ if .laptop }}
bindsym XF86MonBrightnessDown exec --no-startup-id sudo xbacklight -5
bindsym XF86MonBrightnessUp exec --no-startup-id sudo xbacklight +5
{{ end }}
# Take screenshots
# print-screen => saves full screen
bindsym Print exec scrot -m "$HOME/screenshots/%Y-%m-%d_%H:%M:%S.png"
# shift+print-screen => saves selected area
bindsym --release Shift+Print exec scrot -s "$HOME/screenshots/%Y-%m-%d_%H:%M:%S.png"

# Map mod+m to right click menu
bindsym --release $mod+m exec --no-startup-id xdotool key --clearmodifiers Shift+F10

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# Move windows to and from the scratch pad
bindsym $mod+Shift+Tab move scratchpad
bindsym $mod+Tab scratchpad show

# start a terminal
bindsym $mod+Return exec $terminal

# start python
bindsym $mod+p exec $term-exec ptpython

# kill focused window
bindsym $mod+Shift+q kill

bindsym mod1+F2 exec rofi -modi drun -show drun -dpi 192

# Don't change focus when the mouse moves
focus_follows_mouse no

# change focus
bindsym $mod+j focus left
bindsym $mod+k focus down
bindsym $mod+l focus up
bindsym $mod+semicolon focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+semicolon move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
bindsym $mod+d focus child

{{/*
The next few blocks define the workspaces and associated keybindings according
to however many have been configured in the machine specific toml file.
There will be an error if there are more than 10 defined.

For each workspace, the following three lines will be added
set $ws3 "3: Three"
bindkey $mod+3 workspace $ws3
bindkey $mod+Shift+3 move container to workspace $ws3
*/ -}}

{{/* The list and number of workspaces */ -}}
{{ $wksp := .workspaces }}
{{- $wkspc := len .workspaces -}}

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
{{- range $i := until $wkspc }}
{{- $w := add $i 1 }}
set $ws{{ $w }} "{{ $w }}: {{ index $wksp $i }}"
{{- end }}

# switch to workspace
{{- range $i := until $wkspc }}
{{- $w := add $i 1 }}
bindsym $mod+{{ mod $w 10 }} workspace $ws{{ $w }}
{{- end}}

# move focused container to workspace
{{- range $i := until $wkspc }}
{{- $w := add $i 1 }}
bindsym $mod+Shift+{{ mod $w 10 }} move container to workspace $ws{{ $w }}
{{- end}}

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing j or left will shrink the window’s width.
        bindsym j resize shrink width 10 px or 10 ppt
        bindsym Left resize shrink width 10 px or 10 ppt

        # Pressing l or up will shrink the window’s height.
        bindsym l resize shrink height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt

        # Pressing k or down will grow the window’s height.
        bindsym k resize grow height 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt

        # Pressing ; or right will grow the window’s width.
        bindsym semicolon resize grow width 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt


        # back to normal: Enter or Escape or $mod+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}

bindsym $mod+r mode "resize"

set_from_resource $bg0 i3wm.Color.bg0 #ee0000
set_from_resource $bg1 i3wm.Color.bg1 #ee0000
set_from_resource $bg2 i3wm.Color.bg2 #ee0000

set_from_resource $bg4 i3wm.Color.bg4 #ee0000
set_from_resource $grey i3wm.Color.grey #ee0000
set_from_resource $fg4 i3wm.Color.fg4 #ee0000
set_from_resource $fg3 i3wm.Color.fg3 #ee0000
set_from_resource $fg2 i3wm.Color.fg2 #ee0000
set_from_resource $fg0 i3wm.Color.fg0 #ee0000
set_from_resource $urgent i3wm.Color.lightYellow #ee0000

# <class> <border> <background> <text> <indicator> <child_border>
client.focused          $fg4  $fg2    $bg0 $fg0 $bg4
client.unfocused        $bg0  $bg2    $fg0 $fg0 $bg0
client.focused_inactive $grey $fg3    $bg1 $fg0 $bg0
client.urgent           $grey $urgent $bg0 $fg0 $urgent

client.background #ffffff

default_border pixel 3
smart_borders on

# Start i3bar to display a workspace bar
bar {
    status_command i3status-rs ~/.config/i3/status
    workspace_min_width 90
    {{- if not .laptop }}
    position top
    {{- end }}
    font pango:Iosevka SS14, Font Awesome 6 Free 13
    colors {
        background $bg0
        focused_background $bg2

        # class border background text
        focused_workspace  $fg4  $fg2    $bg0
        active_workspace   $grey $fg3    $bg1
        inactive_workspace $bg2  $bg1    $fg2
        urgent_workspace   $grey $urgent $bg0
    }
}
