[theme]
theme = "gruvbox-dark"
[theme.overrides]
end_separator = ""
[icons]
icons = "awesome5"
{{ if .laptop }}
[[block]]
block = "backlight"
minimum = 15
maximum = 100
cycle = [100, 50, 25, 50]
{{ end }}
[[block]]
block = "sound"
max_vol = 100
show_volume_when_muted = false

[[block]]
block = "sound"
max_vol = 100
device_kind =  "source"
show_volume_when_muted = false
{{ if .laptop }}
[[block]]
block = "battery"
{{ end }}
[[block]]
block = "time"
interval = 30
[block.format]
short = "$timestamp.datetime(f:'%a %d/%m %R')"

[[block]]
block = "custom"
command = "echo "
interval = "once"
[[block.click]]
button = "left"
cmd = "zenity --question --text 'Suspend?' --default-cancel --title Suspend && systemctl suspend"

[[block]]
block = "custom"
command = "echo "
interval = "once"
[[block.click]]
button = "left"
cmd = "zenity --question --text 'Hibernate?' --default-cancel --title Hibernate && systemctl hibernate"

[[block]]
block = "custom"
command = "echo "
interval = "once"
[[block.click]]
button = "left"
cmd = "zenity --question --text 'Shutdown?' --default-cancel --title Shutdown && shutdown -P now"
