--type-add
prop:*.properties

--type-add
launch:*.launch

--type-add
eclipse:{*.prefs,.classpath,.project,build.properties}

--type-clear
java

--type-add
java:*.java

{{- if eq .chezmoi.username "qan22331" }}
--type-add
zlog:gda-server-2021*log.gz
{{- end }}

--hidden

--glob
!**/.git

--no-heading

--smart-case

--glob-case-insensitive
